<script setup lang="ts">
interface ideaCard {
    idea: {
        id:number,
        description:string,
        user_id:string,
        notes?:string | number
        metadata?:Object,
        username?:Object,
        reactions?:[]
    }
}
const user = useSupabaseUser()
const props = defineProps<ideaCard>()
const { alreadyHasReaction, createReaction, removeReaction } = useSocial()
const router = useRouter()
let reactionModal = ref(false)
let reactOptions = ref(['🚀','🤯','💡','🗓','🤨','🌈','🔮'])


let reactions = ref(props.idea.reactions as Array<any>)

let reactionsGrouped = ref({'🚀':[],'🤯':[],'💡':[],'🗓':[],'🤨':[],'🌈':[],'🔮':[]})
let user_reaction = ref(null)

if (process.client && reactions.value){
        reactions.value.forEach((item) => {
            //set what user has reacted to 
            if (user.value){
                if(item['user_id'] == user.value.id) {
                    user_reaction.value = item['content']
                }
            }
            //group by emoji
            reactionsGrouped.value[item['content']].push(item)
        })
}

const handleReaction = async (reaction) => {

    let { hasReaction , error } = await alreadyHasReaction(props.idea.id)
    if (error === 'Not logged in') {
        router.push('/login')
        return
    } else if (error){
        console.error(error)
        return
    }
    if (!hasReaction){
        await createReaction(props.idea.id,reaction)
        // reactions.value.push({content:reaction})
        reactionsGrouped.value[reaction].push({content:reaction})
        user_reaction.value = reaction
    } else {
        if (hasReaction['content'] === reaction ) {
            await removeReaction(props.idea.id,hasReaction['content'])
            // reactions.value.splice((reactions.value.indexOf(hasReaction['content'])),1)
            reactionsGrouped.value[hasReaction['content']].pop()
            user_reaction.value = null
        } else {
            await removeReaction(props.idea.id,hasReaction['content'])
            // reactions.value.splice((reactions.value.indexOf(hasReaction['content'])),1)
            reactionsGrouped.value[hasReaction['content']].pop()
            await createReaction(props.idea.id,reaction)
            // reactions.value.push({content:reaction})
            reactionsGrouped.value[reaction].push({content:reaction})
            user_reaction.value = reaction
        }
    }
}

</script>

<template>
    <div class="idea-card">
        <NuxtLink :to="'/idea/'+idea.id">
            <div v-if="idea.metadata" class="tags">
                <span v-for="tag in idea.metadata['tags']" :key="tag">#{{tag}}</span>
            </div>
            <div v-else style="height:24px"></div>
            <h2 class="my-4">{{idea.description}}</h2>
        </NuxtLink>
        <div class="footer">
            <NuxtLink v-if="idea.username" :to="'/u/'+idea.username">{{idea.username}}</NuxtLink>
            <span v-else></span>

            <section>
                <div class="reactions-container flex gap-2" @mouseover="reactionModal = true" @mouseleave="reactionModal = false">
                    <div class="reactions" v-if="reactions">
                        <!-- raw reactions representation -->
                        <!-- <span class="text-xs">{{reactions.length}}</span>
                        <button v-for="reaction in reactions">
                            {{reaction['content']}}
                        </button> -->
                        <!-- grouped representation -->
                        <div v-for="(value, name) in reactionsGrouped">
                            <span v-if="value.length>0" class="text-xs mr-1 ml-2">
                                {{value.length}}
                            </span>
                            <button v-if="value.length>0" :class="{'user-reacted':(name === user_reaction)}" >
                                {{name}}
                            </button>
                        </div>
                    </div>

                    <Transition name="add-reaction">
                        <div class="add-reactions" v-if="reactionModal">
                            <button v-for="react in reactOptions" @click="handleReaction(react)" :class="{'user-reacted':(react === user_reaction)}" >
                                {{react}}
                            </button>
                        </div>
                    </Transition>

                    <button @click="reactionModal=!reactionModal">
                        <span class="material-symbols-rounded">add_reaction</span>
                    </button>
                </div>
                <ModalCardDropDown :post="idea.id" :post_user="idea.user_id"></ModalCardDropDown>
            </section>
        </div>
    </div>
</template>

<style scoped lang="scss">
.idea-card {
    background: var(--bg-gradient-card);
    border: solid 1px var(--card-border);
    // filter: drop-shadow(-1px 0px 5px rgba(4, 4, 4, 0.10));
    box-shadow: 0px 4px 16px 0px #0404041a;
    margin: 35px 20px;
    padding: 30px 45px;
    border-radius: 1em;
    .tags,.footer {
        display: flex;
    }
    .tags,.footer span,.footer a{
        opacity: 0.22;
    }
    .reactions-container:hover span {
        opacity: 0.45;
    }
    .tags span{
        @apply pr-4;
    }
    .footer {
        justify-content: space-between;
        align-items: center;
        section{
            @apply flex gap-2 ;
        }
        .reactions{
            @apply flex items-center h-8 px-2 py-1 rounded-lg;
        }
        .reactions-container{
            @apply relative;
        }
        .add-reactions{
            @apply absolute z-10 right-8 flex gap-3 px-3 py-1 rounded-lg;
            background: var(--card-border);
            button:hover{
                transform: scale(1.5);
                transition: all 0.2s ease-out;
            }
        }
        button{
            span{
                display: block;
            }
        }
    }
}
.idea-card:hover {
    outline: var(--card-border) solid 1px;
    outline-offset: 12px;
    transition: outline-offset 0.6s ease-out;
}
.user-reacted {
    background: var(--text-secondary-xlight);
    padding: 0 3px;
    border-radius: 5px;
}
</style>
