<script setup lang="ts">

interface ideaCard {
    idea: {
        id:number,
        description:string,
        user_id:string,
        notes?:string | number
        metadata?:Object,
        username?:Object,
        reactions?:[]
    }
}
const props = defineProps<ideaCard>()

const publishTime = computed(() => {
  return props.idea['created_at'].split('T')[0].split('-').join(' ')
})



</script>

<template>
    <div class="compose-container">
        <IdeaCard :idea="idea"></IdeaCard>
        <div v-if="idea" class="m-10">
            <span>Published at {{publishTime}}</span>
            <div>
                {{idea.metadata['notes']}}
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .compose-container {
        border: solid 1px var(--card-border);
        border-radius: 1em;
    }
    ::v-deep(.idea-card:hover) {
        outline: none;
    }
</style>
