<script setup lang="ts">
    const route = useRoute()
    const router = useRouter()
    const username_p = route.params['username']

    // if its users own profile go to myprofile
    const user = useSupabaseUser()
    if (user.value){
        if (username_p === user.value.user_metadata.username) router.push('/myprofile')
    }

    // get user id from username
    const supabase = useSupabaseClient()
    const {data:profile} = await supabase.from("profiles")
    .select('*').match({"username":username_p})

    //load user posts
    const {getPostsByUserID} = useSocial()
    let user_posts_r = await getPostsByUserID(profile[0]['user_id'])
    user_posts_r.data.forEach((post) => { post.username= username_p })
    let user_posts = user_posts_r.data


</script>
<template>
<div>
    <h1 class="ml-10 mt-10">
        {{username_p}}
    </h1>
    <div v-if="user_posts">
        <IdeaCard v-for="idea in user_posts" :key="idea.id" :idea="idea"></IdeaCard>
    </div>
    
</div>
</template>
