<script setup lang="ts">

    const route = useRoute()
    const router = useRouter()
    const user = useSupabaseUser()
    let menuModal = ref(false)

</script>

<template>
    <nav>
        <NuxtLink to="/"><img src="/images/idea-net-logo.svg" class="w-20"></NuxtLink>
        <ClientOnly>
            <TransitionGroup name="list" tag="ul">
                <li key="search" @click="$router.push('/search')" :class="{'current-page':route.path === '/search'}">
                    <span class="material-symbols-rounded">search</span>Search
                </li>
                <li key="login" v-if="!user" @click="$router.push('/login')" :class="{'current-page':route.path === '/login'}"><span class="material-symbols-rounded">person</span>Login</li>
                <li ke="profile" v-if="user" @click="$router.push('/myprofile')" :class="{'current-page':route.path === '/myprofile'}"><span class="material-symbols-rounded">person</span>{{user.user_metadata.username}}</li>
                <div key="feeds" class="feeds">
                    <li key="allfeed" @click="$router.push('/')" :class="{'current-page':route.path === '/'}">
                        <span class="material-symbols-rounded">newspaper</span>Latest
                    </li>
                    <li key="trendfeed" @click="$router.push('/trending')" :class="{'current-page':route.path === '/trending'}">
                        <span class="material-symbols-rounded">local_fire_department</span>Trending
                    </li>
                    <!-- <li key="socialfeed">#social</li> -->
                </div>
                <li key="menub" @click="menuModal=!menuModal">
                    <span class="material-symbols-rounded" v-text="menuModal ? 'expand_less' :'expand_more'"></span>More
                </li>
                <li key="menu">
                    <ModalMenu :showModal="menuModal" @close-modal="menuModal = false"></ModalMenu>
                </li>
            </TransitionGroup>
            
        </ClientOnly>
        <div class="h-16">
            <button v-if="$route.path != '/compose'" @click="router.push('/compose')" class="compose-button">
                <span class="material-symbols-rounded">edit</span>Share an idea
            </button>
            
        </div>
    </nav>
</template>

<style scoped lang="scss">
    nav {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width:210px;
        padding: 20px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            color: var(--text-secondary);
        }
        ul {
            all:unset;
            list-style-type: none;
            cursor: pointer;
            li{
                margin-bottom: 7px;
                display: flex;
                gap:5px;
            }
        }
    }
    @media (max-width:700px) {
        nav {
            height: auto;
            width: 100%;
            background: white;
            background: var(--nav-background);
            flex-direction: row;
            z-index: 9;
            div {
                position: fixed;
                bottom: 20px;
                left: 20px;
                z-index: 9;
            }
        }
    }
    .current-page {
        font-weight: bold;
        font-variation-settings:'wght' 600;
    }
    .feeds {
        @media (max-width:700px) {
            display: none;
        }
    }
</style>
