
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    all: unset;
    cursor: pointer;
}
h1{
    font-size: 1.5em;
    font-weight: 800;
}
h2 {
    font-size: 1.3em;
    font-weight: 500;
}
// -------- colors
:root {
    --text-primary:#252525;
    --text-primary-trans:#25252522;
    --text-secondary:#764AF1;
    --text-secondary-mlight:#a086e3;
    --text-secondary-light:#d9d1ee;
    --text-secondary-xlight:#e4e0ef;
    --bg-primary:#f8f8f8;
    --nav-background:linear-gradient(180deg, rgba(255,255,255,1) 48%, rgba(255,255,255,0) 100%);
    --bg-gradient-card:linear-gradient(129deg, rgba(255,255,255,1) 0%, rgba(240,240,250,1) 100%);
    --card-border:#e8e8e8;
}
.theme-dark {
    --text-primary:#dcdcdc;
    --text-primary-trans:#dcdcdc2d;
    --text-secondary:#764AF1;
    --text-secondary-mlight:#4e3496;
    --text-secondary-light:#201738;
    --text-secondary-xlight:#312e3b;
    --bg-primary:#181818;
    --nav-background:linear-gradient(180deg, rgb(20, 20, 20) 48%, rgba(0, 0, 0, 0) 100%);
    --bg-gradient-card:linear-gradient(129deg, rgba(44,44,44,1) 0%, rgb(35, 35, 35) 100%);
    --card-border:#3c3c3c;
}
// ------------ scrollbar
body::-webkit-scrollbar {
  width: 5px;
  background-color: #d0d0d0;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
}
// ------ mixins


//------- classes
.compose-button {
  background: var(--bg-primary);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 2em;
  color: var(--text-secondary);
  border: solid 1px var(--text-secondary);
  display: flex;
  gap:0.5em;
  filter: drop-shadow(0px 2px 6px #7c469250);

  transition: all 0.5s;
}
.compose-button:hover {
  background: var(--text-secondary-light);
}
.compose-button:active {
  background: var(--text-secondary-mlight);
}

.sec-button {
  display: flex;
  gap: 0.4rem;
  background: var(--text-secondary-xlight);
  padding: 0.3rem 1rem;
  border-radius: 1em;
}
.sec-button:hover {
  background: var(--text-secondary-light);
}
.sec-button:active {
  background: var(--text-secondary-mlight);
}

//----- list transitiions

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.list-leave-active {
  position: absolute;
}
//-----------------------modal transitions

.add-reaction-enter-active,
.add-reaction-leave-active {
  transition: all 0.5s ease;
}
.add-reaction-enter-from,
.add-reaction-leave-to {
  opacity: 0;
  transform: scale(0.5);
  transform: translateX(20px);
}
