<script setup lang="ts">
    
    const route = useRoute()

    const supabase = useSupabaseClient()
    let idea = null
    let {data, error} = await supabase.from("ideas").select().match({"id":route.params.iid})
    if (data) {
        idea = data[0]
        if (idea) {
            // get reactions
            let {data:reactions} = await supabase.from('reactions').select('*').eq('post',route.params.iid)
            idea.reactions = reactions
            
            // get user profile from user id
            const {data:profile} = await supabase.from("profiles")
            .select('*').match({"user_id":idea['user_id']})
            idea.username = profile[0]['username']
        }
    }
    
    // useHead({
    //     title: idea ? idea.description : "Page not found"
    // })
    

</script>

<template>
    <div>
        <div v-if="data && idea">
            <IdeaFullCard :idea="idea"></IdeaFullCard>
        </div>
        <div v-else>
            Idea is not there yet!<br>
            <button>go to homepage</button>
        </div>
    </div>
</template>
