<script setup lang="ts">
    //setting and checking for cookie
    const cookie = useCookie("theme")
    if(!cookie.value) cookie.value = "light"

    const {isDarkMode,setDarkMode} = useDarkMode()
    setDarkMode(cookie.value)
    
</script>

<template>
  <div class="app-layout" :class="isDarkMode && 'theme-dark'">
    <section class="container">
        <Navigation></Navigation>
        <slot/>
        <ModalToasts></ModalToasts>
    </section>
  </div>
</template>

<style scoped lang="scss">
.app-layout {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 60px;
    padding-left: 200px;
    min-height: 100vh;
    .container {
        margin: auto;
        max-width: 1000px;
    }
}
@media (max-width:700px) {
  .app-layout {
    padding: 0;
    padding-top: 127px;
    padding-bottom: 4em;
  }
}

</style>
 