<script setup lang="ts">
    const props = defineProps(["showModal"])
    const emit = defineEmits(["close-modal","continue"])

</script>
<template>
    <div >
        <div v-if="showModal" class="modal-bg" @click="$emit('close-modal')"></div>
        <div v-if="showModal" class="alert">
            <h3 class="mb-4">
                <slot>Are you sure?</slot>
            </h3>
            <button @click="$emit('continue')">Yes</button>
            <button @click="$emit('close-modal')">No</button>
        </div>
    </div>
</template>

<style scoped>
    .modal-bg {
        position: fixed;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000007;
    }
    .alert {
        background: var(--bg-gradient-card);
        box-shadow: 0px 4px 16px 0px #0404041a;
        border-radius: 1em;
        padding: 2em;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
        width: fit-content;
        height: fit-content;
        z-index: 21;
    }
    button {
        padding: 1em 2em;
        margin: auto 1em;
        border-radius: 1em;
        border: 1px solid var(--card-border)
    }
    button:hover {
        background-color: var(--card-border);
    }
</style>
