<script setup lang="ts">
    const props = defineProps(['post','post_user'])
    let showDropdown = ref(false)
    const router = useRouter()
    const config = useRuntimeConfig()
    const user = useSupabaseUser()
    const { reportPost, removeIdea } = useSocial()
    const { makeToast } = useToasts()

    let showRemovePostAlert = ref(false)
    const share = () => {
        navigator.clipboard.writeText(config.frontendUrl+"/idea/"+props.post)
        showDropdown.value = false
        makeToast('Idea link copied to clipboard :)',4000)
    }

    const handlReport = (reason:'inappropraite' | 'duplicate') => {
        if (user.value) {
            reportPost(props.post, reason)
            showDropdown.value = false
            makeToast('Report submited! Thank you',4000)
        } else {
            makeToast('First login to your account',4000)
            showDropdown.value = false
        }
    }

    const removePost = async () => {
        showRemovePostAlert.value = false
        let {data, error} = await removeIdea(props.post)
        if (error) {
            makeToast('Something went wrong, try again',4000)
        } else {
            makeToast('Post deleted successfuly',4000)
            router.go(0)
        }
    }

</script>
<template>
    <div class="relative flex">
        <button @click="showDropdown = !showDropdown" class="dropdown">
            <span class="material-symbols-rounded">more_horiz</span>
        </button>
        <Transition name="dropdown">
            <ul v-show="showDropdown" class="dropdown-menu z-20">
                <li @click="share">
                    <span class="material-symbols-rounded">share</span>Copy link to clipboard
                </li>
                <li v-show="(user && post_user != user.id) || !user" @click="handlReport('inappropraite')">
                    <span class="material-symbols-rounded">report</span>Report as Inappropriate</li>
                <li v-show="(user && post_user != user.id) || !user" @click="handlReport('duplicate')">
                    <span class="material-symbols-rounded">report</span>Report as Duplicate
                </li>
                <li v-show="user && post_user === user.id" @click="showRemovePostAlert = true, showDropdown = false">
                    <span class="material-symbols-rounded">backspace</span>Delete post
                </li>
            </ul>
        </Transition>
        <div v-show="showDropdown" class="z-10 bg-black bg-opacity-0 fixed top-0 bottom-0 left-0 right-0" @click.prevent="showDropdown = false"></div>
        <ModalAlert :showModal="showRemovePostAlert" @close-modal="showRemovePostAlert = false" @continue="removePost">
            Are you sure you want to delete the idea forever?
        </ModalAlert>
    </div>
</template>
<style scoped lang="scss">
    button{
        display: block;
        span {
            display: block;
            opacity: 0.22;
        }
        span:hover {
            opacity: 0.45;
        }
    }
    ul{
        box-shadow: 0px 4px 16px 0px #0404041a;
        padding: 0.6em;
        background: var(--bg-gradient-card);
        position: absolute;
        border-radius: 1em;
        transform: translateY(40px);
        top: 0px;
        right: 0px;
        will-change: transform;
        li{
            cursor: pointer;
            display: flex;
            gap: 0.5em;
            white-space: nowrap;
            padding: 0.5em;
        }
        li:hover {
            background-color: var(--text-primary-trans);
            border-radius: 1em;
            transition: background-color 1s;
        }
        li:active {
            background-color: var(--text-primary);
        }
    }
    .dropdown-enter-active, .dropdown-leave-active {
        transition: all 0.5s ease;
    }
    .dropdown-enter-from, .dropdown-leave-to {
        opacity: 0;
        transform: scale(0.4);
        transform: translateY(0);
    }
</style>
