<script setup lang="ts">
    const props = defineProps(["showModal"])

    const { isDarkMode, toggleDarkMode } = useDarkMode()
</script>
<template>
    <li v-if="showModal">

        <Transition>
            <div class="p-2 transition-all " :class="{'opacity-0':!showModal}">

                <button class="theme-toggle" @click="toggleDarkMode">
                    <span class="material-symbols-rounded" :class="{'active-icon':isDarkMode}">dark_mode</span>
                    <span class="material-symbols-rounded" :class="{'active-icon':!isDarkMode}">light_mode</span>
                </button>
                <ul class="text-sm opacity-80">
                    <li><NuxtLink to="/terms">Terms of Service</NuxtLink></li>
                    <li><NuxtLink to="/privacy">Privacy Policies</NuxtLink></li>
                    <li class="text-xs"><a href="https://coolconcepts.tech" target="_blank">by CoolConcepts.tech</a></li>
                </ul>

            </div>
        </Transition>   
    </li>
</template>
<style lang="scss">
.theme-toggle {
    @apply flex items-center;
    span {
        @apply text-xl opacity-40;
        transition: all 0.7s;
        transform: rotate(45deg)
    }
    .active-icon {
        @apply text-3xl opacity-100;
        transform: rotate(0deg)
    }
}

</style>
