<script setup lang="ts">
    const { toasts, removeToast } = useToasts()
</script>

<template>
    <section>
        <TransitionGroup name="list" tag="ul">
            <div class="toast" v-for="toast in toasts" :key="toast.id">
                <p>{{toast.content}}</p>
                <button @click="removeToast(toast)" class="opacity-25">
                    <span class="material-symbols-rounded">close</span>
                </button>
            </div>
        </TransitionGroup>
    </section>
</template>

<style scoped lang="scss">
    section {
        position: fixed;
        top: 2em;
        right: 2em;
        z-index: 99;
    }
    .toast {
        background: var(--bg-gradient-card);
        box-shadow: 0px 4px 16px 0px #0404041a;
        border-radius: 1em;
        margin: 10px;
        padding: 15px 25px;
        display: flex;
        gap: 2em;
        white-space: nowrap;
        p {
            flex: 1;
        }
    }
</style>
