<script setup lang=ts>

    definePageMeta({
        middleware: 'auth'
    })
    const router = useRouter()
    const supabase = useSupabaseClient()
    const user = useSupabaseUser()
    const composeError = ref("")
    const maxPostLength = 300

    const newIdea = ref({
        description:"",
        tags:[],
        notes:''
    })

    const publishNewIdea = async () => {
        if(newIdea.value.description.length > 6 && newIdea.value.description.length <= maxPostLength){
            await supabase.from("ideas").insert({
                description:newIdea.value.description,
                user_id:user.value.id,
                metadata:{
                    tags:newIdea.value.tags,
                    notes:newIdea.value.notes
                }
            })
            router.push('/')
        } else {
            composeError.value = "Idea is too short:S"
        }
    }

</script>

<template>
    <div class="compose-container">
        <ClientOnly>
            <div class="idea-compose">
                <form> 
                    <div>
                        <ElementTagInput v-model:tags="newIdea.tags"></ElementTagInput>
                    </div>
                    <textarea v-model="newIdea.description"
                    @keydown="composeError=''" :maxlength="maxPostLength"
                    placeholder="The awesome idea"></textarea>
                    <button @click="publishNewIdea" type="button" class="compose-button">
                        <span class="material-symbols-rounded">edit</span>Share with the world
                    </button>
                </form>
            </div>
            <span class="text-red-800 mx-auto block w-fit">{{composeError}}</span>
            <div class="mx-10 mb-10">
                <h3 class="font-bold text-sm">Side note</h3>
                <!-- <h4 class="text-sm">(you can update the note at any time)</h4> -->
                <textarea v-model="newIdea.notes"
                class="side-note">
                </textarea>
            </div>
        </ClientOnly>
    </div>
</template>

<style lang="scss" scoped>
    .compose-container {
        border: solid 1px var(--card-border);
        border-radius: 1em;
    }
    .idea-compose {
        background: var(--bg-gradient-card);
        border: solid 1px var(--card-border);
        filter: drop-shadow(-1px 0px 5px rgba(4, 4, 4, 0.10));
        margin: 1.6em 1em;
        padding: 30px 45px;
        padding-bottom: 10px;
        border-radius: 1em;
        input, textarea {
            background: none;
        }
        textarea {
            width: 100%;
            height: 180px;
            resize: none;
            margin-top: 1em;
            font-size: 1.4em;
        }
        button{
            margin: 2px auto;
            transform: translateY(32px);
        }
        
    }
    .side-note {
        border: 1px solid var(--card-border);
        background: none;
        border-radius: 0.5em;
        resize: none;
        height: 120px;
        width:100%;
        margin-top: 0.5em;
        padding: 1em;
    }
</style>
