<script setup lang="ts">

    const supabase = useSupabaseClient()
    let feed = ref()
    const { getFeed } = useSocial()
 
    onMounted(async () => {
        feed.value = await getFeed()
    })
                
</script>

<template>
    <div>
        <Head>
            <Title>Ideas are cool</Title>
            <Meta name="description" content="A calm inspiring social platform - find and share ideas"/>
            <Meta name="keywords" content="idea, startup, inspiration, better world"/>
            <Meta name="author" content="Alireza Ektefaie"/>
        </Head>
        
        <div v-if="feed">
            {{feed.data}}
            <IdeaCard v-for="idea in feed" :key="idea.id" :idea="idea"></IdeaCard>
        </div>
        <div v-else>
            <ElementSkeleton v-for="skeleton in [1,2,3]" :key="skeleton"></ElementSkeleton>
        </div>

        <ElementLoaderBS></ElementLoaderBS>   
        
    </div>
</template>
