<script setup lang=ts>

    const router = useRouter()
    const { signUp, signIn, oSignIn } = useAuth()
    const { usernameAvailable } = useSocial()
    const authError = ref("")
    const authState = ref<"login" | "register">("register")
    let showEmailConfirmation = ref(false)
    const emit = defineEmits(["close-modal"])
    const toggleAuth = () => {
        if ( authState.value === "login" ) authState.value = "register"
        else authState.value = "login"
        authError.value = ""
    }
    const in_credentials = reactive({
        email:"",
        password:"",
        username:""
    })
    const handleSubmit = async () => {
        try {
            if (authState.value === "login") {
                await signIn({email:in_credentials.email,password:in_credentials.password})
                router.push('/')
            } else {
                if (in_credentials.username === ""){
                    authError.value = "Username cannot be empty!"
                    return
                }
                if (await usernameAvailable(in_credentials.username)){
                    console.log("useravailab",usernameAvailable(in_credentials.username))
                    await signUp({email:in_credentials.email,password:in_credentials.password, username:in_credentials.username})
                    showEmailConfirmation.value = true
                } else {
                    console.log("useravailab",usernameAvailable(in_credentials.username))
                    authError.value = "Username not available:("
                }
                
            }
            // in_credentials.email = ""
            // in_credentials.password = ""
        } catch (err) {
            authError.value = err.message
        }
    }
</script>
<template>
<div class="flex justify-center text-center items-center pt-16">
  <div v-if="!showEmailConfirmation">
  <span class="material-symbols-rounded text-3xl">account_circle</span>
      <h3 class="capitalize mb-3">{{authState}}</h3>
      <form>
          <input v-model="in_credentials.username" v-if="authState==='register'" placeholder="Username">
          <input v-model="in_credentials.email" autocomplete="email" placeholder="Email">
          <input v-model="in_credentials.password" type="password" placeholder="Password" autocomplete="current-password" @keydown.enter="handleSubmit">
          <button @click="handleSubmit" type="button">{{authState}}</button>
      </form>
      <p class="text-red-700" v-if="authError">{{authError}}</p>
      <span v-if="authState==='register'" class="text-sm opacity-40 inline-block max-w-xs overflow-hidden">
        By registering I declare that I have read and accepted <NuxtLink to="/terms" class="font-bold">Terms of the Service</NuxtLink>.
      </span>
      <NuxtLink v-if="authState==='login'" to="resetpassword" class="text-sm opacity-40">
          Forgot my password
      </NuxtLink><br>
      <button @click="toggleAuth" class="text-sm mt-3">
          {{authState === "register" ?  "Already have an account? Login" : "Don't have an account? Register"}}
      </button>
  </div>
  <div v-else class="p-36">
      <h3>Check your email to verify and continue!</h3>
  </div>
</div>
</template>

<style scoped lang="scss">
    form {
        max-width: 400px;
        input,button {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            padding: 0.5em 1.5em;
            margin: 0.2em 0;
            border: solid 1px rgb(95, 95, 95);
            border-radius: 0.6em;
        }
        input {
            background-color: var(--bg-primary);
        }
        button {
            background-color: var(--text-primary);
            color: var(--bg-primary);
            text-transform: uppercase;
        }
    }
</style>
