<script setup lang="ts">

    definePageMeta({
        middleware: 'auth'
    })
    const router = useRouter()
    const user = useSupabaseUser()
    const { signOut } = useAuth()
    const { getPostsByUserID, deleteAccount } = useSocial()

    if (!user.value) {
        router.push('/login')
    }

    const settingsTab = ref(false)
    
    const handleSignout = () => {
        signOut()
        router.push('/')
    }

    let myPosts = ref()
    onMounted(async () => {
        myPosts.value = await getPostsByUserID(user.value.id)
        myPosts.value.data.forEach(post => {
            post.username = user.value.user_metadata.username
        });
    })

    let deleteAccountModal = ref(false)
    
</script>
<template>
<div>
    <Head>
        <Title>My Profile</Title>
    </Head>
    <div v-if="user">
        <div class="mt-10 mx-10 flex justify-between">
            <h2>{{user.user_metadata.username}}'s profile</h2>
            <div class="flex gap-2 items-center">
                <button @click="settingsTab=!settingsTab" class="flex p-1" :class="{'tab_active':settingsTab}">
                    <span class="material-symbols-rounded">settings</span>
                </button>
                <button @click="handleSignout" class="sec-button">
                    <span class="material-symbols-rounded">logout</span>Sign out
                </button>
            </div>
        </div>
        <div v-if="myPosts && settingsTab===false">
            <IdeaCard v-for="idea in myPosts.data" :key="idea.id" :idea="idea"></IdeaCard>
        </div>
        <div v-if="settingsTab===true" class="px-10 py-10">
            <button @click="deleteAccountModal = true" class="list-item">
                <h3 class="font-bold">Delete account</h3>
                <p>Your data will be removed forever.</p>
            </button>
        </div>
        <ModalAlert :showModal="deleteAccountModal" @close-modal="deleteAccountModal = false" @continue="deleteAccount,deleteAccountModal = false">
            Are you sure you want to delete your account forever?
        </ModalAlert>
    </div>

</div>
</template>

<style scoped lang="scss">
    .tab_active {
        border-radius: 5px;
        background-color: var(--card-border);
    }
    .list-item {
        padding: 1em;
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .list-item:hover {
        background-color:var(--card-border);
        transition: all 0.5s;
    }
</style>
