<template>
    <div class="p-5">
        <h1>Privacy Policies</h1>
        <h2>General</h2>
        <p>You can request to delete all your data from our servers at anytime from the profile settings menu.</p>
    </div>
</template>
