<script setup lang="ts">

    const route = useRoute()
    const { forgotPassword, updatePassword } = useAuth()

    let resetStep = ref<'sendemail'| 'setpass'>('sendemail')
    if(route.query.access_token){
        resetStep.value = 'setpass'
    }

    let uemail = ref("")
    let newPassword = ref("")
    let newPasswordRepeat = ref("")
    let notifText = ref("")

    const sendReset = async () => {
        if(uemail.value != "") {
            forgotPassword(uemail.value)
            alert("Reset link sent to "+uemail.value)
        } else {
            alert("Enter your email address")
        }
    }
    
    const setNewPassword = async () => {
        if (newPassword.value.length > 5) {
            if (newPassword.value === newPasswordRepeat.value) {
                updatePassword(route.query.access_token, newPassword)
                alert("Password is reset!")
            } else {
                notifText.value = "Passwords are not the same"
            }
        } else {
            notifText.value = "Passwords is too short"
        }
    }

</script>

<template>
    <div>
        <Head>
            <Title>Reset password</Title>
        </Head>

        <form v-if="resetStep==='sendemail'">
            <input v-model="uemail" type="email" placeholder="Email">
            <button @click="sendReset" type="button">Send reset password link</button>
        </form>
        <form v-else>
            <input v-model="newPassword" @keydown="notifText=''" placeholder="New password" type="password">
            <input v-model="newPasswordRepeat" @keydown="notifText=''" placeholder="Repeat new password" type="password">
            <button type="button" @click="setNewPassword">Set</button>
            <label class="text-red-700 inline-block mt-2">{{notifText}}</label>
        </form>

    </div>
</template>

<style scoped lang="scss">
form {
    @apply p-6 backdrop-filter dark:text-white bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 backdrop-blur-md rounded-lg;
    max-width: 420px;
    input {
        @apply dark:bg-black dark:bg-opacity-50 w-full rounded-lg py-1 px-2 mb-2;
    }
    button {
        @apply dark:bg-black dark:text-white w-full rounded-lg py-1 px-2 box-border uppercase hover:bg-gray-300 dark:hover:bg-gray-800;
    }
}
</style>
