<script setup lang="ts">
    
    const supabase = useSupabaseClient()

    let search_query = ref('')
    let search_results = ref([])
    const results_loading = ref(false)

    // v-focus directive - focus on search input on pageload
    const vFocus = {
        mounted: (el) => {
            setTimeout(()=>{
                el.focus()
            }, 50)
        }
    }

    let debounce = ref(null)
    const debounceSearch = (event) => {
        clearTimeout(debounce.value)
        results_loading.value = true
        debounce.value = setTimeout(() => {
           searchRequest()
           results_loading.value = false
        }, 800)
    }

    const searchRequest = async () => {
        const { data, error } = await supabase
        .from('ideas')
        .select()
        .textSearch('description', search_query.value)
        if ( data.length > 0 ) {
            search_results.value = await Promise.all(data.map(async (post)=>{
                const [{data:username},{data: reactions}] = await Promise.all([
                    await supabase
                    .from('profiles')
                    .select('username').eq('user_id',post.user_id).maybeSingle(),
                    await supabase
                    .from('reactions')
                    .select('user_id, content').eq('post',post.id).limit(4)
                ])
                return{
                    ...post, username:username['username'], reactions
                }
            }))
        }
    }
    
</script>
<template>
    <div class="p-4">
        <ClientOnly>
            <input v-focus v-model="search_query" @input="debounceSearch"
            placeholder="search in ideas" class="search-input">
            <div class="h-6">
                <span v-show="results_loading" class="loader"></span>
            </div>
            <div v-if="search_results">
                <IdeaCard v-for="result in search_results" :key="result.id" :idea="result"></IdeaCard>
            </div>
            <div v-else>

            </div>
        </ClientOnly>
    </div>
</template>

<style scoped lang="scss">
    .search-input {
        background-color: var(--card-border);
        padding: 1em 2em;
        border-radius: 1em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .loader {
        width: 100%;
        height: 4.8px;
        display: inline-block;
        position: relative;
        background: var(--card-border);
        border-radius: 1em;
        overflow: hidden;
        }
        .loader::after {
        content: '';
        width: 192px;
        height: 4.8px;
        background: var(--text-secondary);
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border-radius: 1em;
        animation: animloader 2s linear infinite;
        }

        @keyframes animloader {
        0% {
            left: 0;
            transform: translateX(-100%);
        }
        100% {
            left: 100%;
            transform: translateX(0%);
        }
    }
    
</style>
