<template>
    <div class="p-5">
        <h1>Terms of service</h1>
        <h2>General</h2>
        <p>You are responsible for the content that you are publishing.</p>
        <p>Your content can be removed at anytime by moderators if they find it inappropriate.</p>
        
    </div>
</template>
