<script setup lang="ts">
    let feed = ref()
    const { getTrendingFeed } = useSocial()
 
    onMounted(async () => {
        feed.value = await getTrendingFeed()
    })
</script>

<template>
    <div>
        <div v-if="feed">
            {{feed.data}}
            <IdeaCard v-for="idea in feed" :key="idea.id" :idea="idea"></IdeaCard>
        </div>
        <div v-else>
            <ElementSkeleton v-for="skeleton in [1,2,3]" :key="skeleton"></ElementSkeleton>
        </div>

        <ElementLoaderBS></ElementLoaderBS>   
    </div>
</template>
