<script setup lang="ts">
const { data:corpo_bs, error, refresh } = useFetch("https://corporatebs-generator.sameerkumar.website/")
</script>

<template>
    <div class="bs-loader text-center px-5">
        <span v-if="corpo_bs" class="opacity-25 uppercase text-xs">{{corpo_bs['phrase']}}</span>
    </div>
</template>
