<template>
<div class="skeleton h-44 animate-pulse rounded-xl my-8 mx-6">

</div>
</template>
<style>
    .skeleton{
        background: var(--bg-gradient-card);
        filter: drop-shadow(-1px 0px 5px rgba(4, 4, 4, 0.10));
    }
</style>
