<template>
  <div class="tag-input">
    <div v-for="(tag, index) in tags" :key="tag" class="tag">      
        #{{tag}}
        <span @click='removeTag(index)' class="material-symbols-rounded">close</span>
    </div>
    <input 
        v-show="tags.length<5"
        type='text' 
        placeholder="Add related #tags" 
        class='tag-input__text' 
        @keydown.enter='addTag' 
        @keydown.space='addTag' 
        @keydown.tab='addTag' 
        @keydown.delete='removeLastTag'
    />
  </div>
</template>
<script>
  export default {
    props: ['tags'],
    emits: ['update:tags'],
    
    methods: {
        addTag (event) {
            event.preventDefault()
            var val = event.target.value.trim()
            if (val.length > 0 && this.tags.length <5) {
                if(!this.tags.includes(val)){
                    this.tags.push(val)
                    this.$emit('update:tags', this.tags)
                }
                event.target.value = ''
            }
        },
        removeTag (index) {
            this.tags.splice(index, 1)
            this.$emit('update:tags', this.tags)
        },
        removeLastTag(event) {
            if (event.target.value.length === 0) {
                this.removeTag(this.tags.length - 1)
                this.$emit('update:tags', this.tags)
            }
        }
        
    }
  }
</script>
<style scoped lang="scss">
  .tag-input {
    width: 100%;
    .tag {
        float: left;
        align-items: center;
        display: flex;
        gap:5px;
        margin-right: 10px;
        padding: 3px 10px;
        background-color: var(--text-secondary-xlight);
        border-radius: 5px;
        span {
            font-size: 1em;
            cursor: pointer;
            opacity: 0.75;
        }
    }
    input {
        margin-top: 3px;
        border: none;
        outline: none;
        background: none;
    }
  }
  
</style>
